<a href="https://colab.research.google.com/github/MadhurimaPaul-87/Machine_Learning/blob/main/SimpleLinearRegression_sklearn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded= files.upload()

Saving 1.01.+Simple+linear+regression.csv to 1.01.+Simple+linear+regression.csv

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from sklearn.linear_model import LinearRegression

In [3]:
data= pd.read_csv("1.01.+Simple+linear+regression.csv")
data.head()

    SAT   GPA
0  1714  2.40
1  1664  2.52
2  1760  2.54
3  1685  2.74
4  1693  2.83

In [4]:
data.describe()

               SAT        GPA
count    84.000000  84.000000
mean   1845.273810   3.330238
std     104.530661   0.271617
min    1634.000000   2.400000
25%    1772.000000   3.190000
50%    1846.000000   3.380000
75%    1934.000000   3.502500
max    2050.000000   3.810000

In [5]:
y= data['GPA']
x= data['SAT']

In [10]:
x.shape

(84,)

In [11]:
x_matrix=x.values.reshape(84,1)
x_matrix.shape

(84, 1)

In [7]:
y.shape

(84,)

In [12]:
reg=LinearRegression()
reg.fit(x_matrix,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

R_squared

In [13]:
reg.score(x_matrix,y)

0.40600391479679754

Coefficient

In [14]:
reg.coef_

array([0.00165569])

Intercept

In [15]:
reg.intercept_

0.2750402996602799

prediction

In [19]:
new_data=pd.DataFrame(data=[1740,1760],columns=['SAT'])
new_data

    SAT
0  1740
1  1760

In [20]:
reg.predict(new_data)

array([3.15593751, 3.18905127])

In [21]:
new_data['predicted_GPA']= reg.predict(new_data)
new_data

    SAT  predicted_GPA
0  1740       3.155938
1  1760       3.189051